# Data and ML
numpy
torch
matplotlib
pandas
scikit-learn
seaborn
openpyxl

# Quantum computing packages
merlinquantum
perceval-quandela
qiskit
qiskit-aer
qiskit-ibm-runtime

# Jupyter support
jupyter
ipykernel
notebook
pylatexenc
